*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: rgb(255, 255, 255);
    font-family: 'lato', arial, sans-serif;
    color: rgba(65, 66, 66, 0.714);
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
header {
    height: 200px;
    background-color:rgba(245, 245, 245, 0.891)
}
.nav {
    max-width: 1500px;
    margin:  auto;
}

.logo {
    height: 180px;
    width: auto;
    float: left;
    margin-top: 20px;  
}

.mainNav{
    float: right;
    display: inline-block;
    list-style: none;
}

.mainNav li{
    display: inline-block;
    margin-left: 50px;
    margin-top: 100px;
}

.mainNav li a {
    padding: 8px 0;
    color: rgb(148, 147, 147);
    border-bottom: 3px solid #fff transparent;
    transition:  border 0.5s;

}

.mainNav li a:hover {
    color: #00203f;
    border-bottom: 3px dashed #ADEFD1FF;
  
}

.mainNav li a {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
    text-decoration: none;
}

#teamPage{
    height: 1000px;
    width: 100%;
    position: relative;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    background-color:rgba(245, 245, 245, 0.891);
    justify-content: center;
    align-content: center;
}
#pageContent{
    position: absolute;
    height: 500px;
    width: 62%;
    background: #ffffff00 ;
    top:30%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

#picSection {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-image: linear-gradient(rgba(137, 158, 163, 0.224), rgba(245, 245, 245, 0.286)), url('https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
    background-size: cover;
    background-position: top;
    transition: all 1s;
}

#motSection {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 90%;
    background-color:  rgba(231, 231, 231, 0.449);  
    box-shadow: 1px 20px 50px 0px rgba(138, 137, 137, 0.748);
    transition: all 1s;
} 
#motSection h2 {
    color: rgb(4, 54, 136);
    position: relative;
    font-size: 30px;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#motSection h2::after {
    content: " " ;
    position: absolute;
    bottom: -20px;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 3px;
    background-color: #ADEFD1FF;
}
#motCeo {
    position: absolute;
    display: block;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-50%);
    border: none;
    border: 2px dashed #ADEFD1FF;
    padding: 25px 5px;
    color: #000000;
    background-color: transparent;
    font-size: 25px;
    text-align: center;
    outline:none;
    font-weight: 300;
    width: 60%;
}

.membre{
    position: relative;
    height: 1400px;
    width: 100%;
    background-color: rgba(231, 231, 231, 0.449);
}
.membre1{
    position:absolute;
    height: 500px;
    width: 350px;
    background-color: #ffffff;
    top: 0%;
    left: 15%;   
    box-shadow: 0px 15px 17px #00000058;
    transform: scale(1);
    transition: all 1s ;

}
.membre2{
    position:absolute;
    height: 500px;
    width: 350px;
    background-color: #ffffff;
    top: 0%;
    left: 40%;
    box-shadow: 0px 15px 17px #00000058;
    transform: scale(1);
    transition: all 1s ;
}
.membre3{
    position:absolute;
    height: 500px;
    width: 350px;
    background-color: #ffffff;
    top: 0%;
    left: 65%;
    box-shadow: 0px 15px 17px #00000058;
    transform: scale(1);
    transition: all 1s ;
}
.membre4{
    position:absolute;
    height: 500px;
    width: 350px;
    background-color: #ffffff;
    top: 47%;
    left: 15%;
    box-shadow: 0px 15px 17px #00000058;
    transform: scale(1);
    transition: all 1s ;
}
.membre5{
    position:absolute;
    height: 500px;
    width: 350px;
    background-color: #ffffff;
    top: 47%;
    left: 40%;
    box-shadow: 0px 15px 17px #00000058;
    transform: scale(1);
    transition: all 1s ;
}
.membre6{
    position:absolute;
    height: 500px;
    width: 350px;
    background-color: #ffffff;
    top: 47%;
    left: 65%;
    box-shadow: 0px 15px 17px #00000058;
    transform: scale(1);
    transition: all 1s ;    
}
.membre1:hover,.membre2:hover,.membre3:hover,.membre4:hover,.membre5:hover,.membre6:hover{
    transform: scale(1.1)
}
.picm{
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    top:0%;
    left:50%;
    transform: translate(-50%,-50%);
    background-size: cover;
}
.m1{
    background-image: url('img/P1.jpeg');
    background-position: center;
}
.m2{
    background-image: linear-gradient(rgba(137, 158, 163, 0.224), rgba(245, 245, 245, 0.286)),url('img/P2.jpeg');
}
.m3{
    background-image: url('img/P3.jpeg');
}
.m4{
    background-image: url('img/P4.jpeg');
    background-position: center;
}
.m5{
    background-image: url('img/P5.jpeg');
    background-position: center;
}
.m6{
    background-image: url('img/P6.jpeg');
}
.membre h7{
    position: absolute;
    top: 27%;
    left: 66%;
    width: 100%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    color: rgb(14, 82, 149);
    font-weight: 400;
    letter-spacing: 3px;
}
.membre p{
    position: absolute;
    top:55%;
    left: 50%;
    width: 90%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
}

.textM{
    position: absolute;
    top: 85%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    font-weight: 700;
    color: rgb(4, 94, 184);
}
.membre button{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2px;
    width: 70%;
    border: none;
    background-color: rgb(16, 125, 235);
    color: white;
    border-radius: 3px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0px 15px 17px #00000058;
    opacity: 1;
    outline: none;
    cursor: pointer;
    transition: opacity 0.7s ease-in-out;
}
.membre button:hover{
    opacity: 0;
}
.copy{
    height: 30px;
    width: 100%;
    background: rgb(0, 0, 0) ;   
   
}
.cp-text{ 
    color: rgb(255, 255, 255); 
    text-align: center;
    
}


